<div style=" background-color: RGB(0,114,200);" >
<h1 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">PROJET 4 DATA ANALYST</h1>
<h2 style="margin: auto; padding: 20px 0; color:#fff; text-align: center">Réalisez une étude de santé publique avec R ou Python
</h2>
</div>

# OBJECTIF DE CE NOTEBOOK

Bienvenue dans l'outil plébiscité par les analystes de données Jupyter.

Il s'agit d'un outil permettant de mixer et d'alterner codes, textes et graphique.

Cet outil est formidable pour plusieurs raisons:

+ il permet de tester des lignes de codes au fur et à mesure de votre rédaction, de constater immédiatement le résultat d'un instruction, de la corriger si nécessaire.
+ De rédiger du texte pour expliquer l'approche suivie ou les résultats d'une analyse et de le mettre en forme grâce à du code html ou plus simple avec **Markdown**
+ d'agrémenter de graphiques

Pour vous aider dans vos premiers pas à l'usage de Jupyter et de Python, nous avons rédigé ce notebook en vous indiquant les instructions à suivre.

Il vous suffit pour cela de saisir le code Python répondant à l'instruction donnée.

Vous verrez de temps à autre le code Python répondant à une instruction donnée mais cela est fait pour vous aider à comprendre la nature du travail qui vous est demandée.

Et garder à l'esprit, qu'il n'y a pas de solution unique pour résoudre un problème et qu'il y a autant de résolutions de problèmes que de développeurs ;)...

Note jeremy 
Est ce qu'il faut faire le calcul de la sous nutrition sur les pays qu'on a ? 
Est ce qu'il faut faire des graphiques ?
Rajouter le soja
La liste des céréales est difficile a trouver ...

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Importation des librairies et chargement des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.1 - Importation des librairies</h3>
</div>

In [147]:
#Importation de la librairie Pandas
import pandas as pd
import numpy as np

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">1.2 - Chargement des fichiers Excel</h3>
</div>

In [148]:
#Importation du fichier population.csv
population = pd.read_csv('population.csv')

#Importation du fichier dispo_alimentaire.csv
dispo_alimentaire = pd.read_csv('dispo_alimentaire.csv')

#Importation du fichier aide_alimentaire.csv
aide_alimentaire = pd.read_csv('aide_alimentaire.csv')

#Importation du fichier sous_nutrition.csv
sous_nutrition = pd.read_csv('sous_nutrition.csv')

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Analyse exploratoire des fichiers</h2>
</div>

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.1 - Analyse exploratoire du fichier population</h3>
</div>

In [149]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(population.shape[0])) 
print("Le tableau comporte {} colonne(s)".format(population.shape[1]))

Le tableau comporte 1416 observation(s) ou article(s)
Le tableau comporte 3 colonne(s)

In [150]:
#Consulter le nombre de colonnes
#La nature des données dans chacune des colonnes
#Le nombre de valeurs présentes dans chacune des colonnes
population.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1416 non-null   object
 1   Année   1416 non-null   int64
 2   Valeur  1416 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ KB

In [151]:
#Affichage des 5 premières lignes de la table
population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [152]:
#Nous allons harmoniser les unités. Pour cela, nous avons décidé de multiplier la population par 1000
#Multiplication de la colonne valeur par 1000
population['Valeur'] *= 1000

In [153]:
#changement du nom de la colonne Valeur par Population
population.rename(columns={"Valeur" : "Population"}, inplace=True)

In [154]:
#Affichage les 5 premières lignes de la table pour voir les modifications
population.head()

          Zone  Année  Population
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.2 - Analyse exploratoire du fichier disponibilité alimentaire</h3>
</div>

In [155]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(dispo_alimentaire.shape[0])) 
print("Le tableau comporte {} colonne(s)".format(dispo_alimentaire.shape[1]))

Le tableau comporte 15605 observation(s) ou article(s)
Le tableau comporte 18 colonne(s)

In [156]:
#Consulter le nombre de colonnes
dispo_alimentaire.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          2720 non-null   float64
 4   Autres Utilisations                                            5496 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 14241 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         14015 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  11794 non-null  float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       11561 non-null  float64
 9   Disponibilité intérieure                                       15382 non-null  float64
 10  Exportations - Quantité                                        12226 non-null  float64
 11  Importations - Quantité                                        14852 non-null  float64
 12  Nourriture                                                     14015 non-null  float64
 13  Pertes                                                         4278 non-null   float64
 14  Production                                                     9180 non-null   float64
 15  Semences                                                       2091 non-null   float64
 16  Traitement                                                     2292 non-null   float64
 17  Variation de stock                                             6776 non-null   float64
dtypes: float64(15), object(3)
memory usage: 2.1+ MB

In [157]:
#Affichage des 5 premières lignes de la table
display(dispo_alimentaire.head())

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

In [158]:
#remplacement des NaN dans le dataset par des 0
dispo_alimentaire.fillna(0, inplace=True)

In [159]:
#multiplication de toutes les lignes contenant des tonnes en milliers de Kg
colonnes_a_modifier = ['Aliments pour animaux', 'Autres Utilisations', 'Disponibilité intérieure', 'Exportations - Quantité', 
                       'Importations - Quantité', 'Nourriture', 'Pertes', 'Production', 'Semences', 'Traitement',
                       'Variation de stock']

for elt in colonnes_a_modifier:
  dispo_alimentaire[elt] *= 1000

In [160]:
#Affichage des 5 premières lignes de la table
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000.0,0.0,0.0,53000.0,0.0,53000.0,0.0,0.0,0.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.3 - Analyse exploratoire du fichier aide alimentaire</h3>
</div>

In [161]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(aide_alimentaire.shape[0])) 
print("Le tableau comporte {} colonne(s)".format(aide_alimentaire.shape[1]))

Le tableau comporte 1475 observation(s) ou article(s)
Le tableau comporte 4 colonne(s)

In [162]:
#Consulter le nombre de colonnes
aide_alimentaire.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1475 entries, 0 to 1474
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pays bénéficiaire  1475 non-null   object
 1   Année              1475 non-null   int64
 2   Produit            1475 non-null   object
 3   Valeur             1475 non-null   int64
dtypes: int64(2), object(2)
memory usage: 46.2+ KB

In [163]:
#Affichage des 5 premières lignes de la table
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

In [164]:
#changement du nom de la colonne Pays bénéficiaire par Zone
aide_alimentaire.rename(columns={"Pays bénéficiaire" : "Zone"}, inplace=True)

In [165]:
#Multiplication de la colonne Aide_alimentaire qui contient des tonnes par 1000 pour avoir des kg
aide_alimentaire.rename(columns={"Valeur" : "Aide_alimentaire"}, inplace=True)
aide_alimentaire['Aide_alimentaire'] *= 1000

In [166]:
#Affichage des 5 premières lignes de la table
aide_alimentaire.head()

          Zone  Année              Produit  Aide_alimentaire
0  Afghanistan   2013  Autres non-céréales            682000
1  Afghanistan   2014  Autres non-céréales            335000
2  Afghanistan   2013         Blé et Farin          39224000
3  Afghanistan   2014         Blé et Farin          15160000
4  Afghanistan   2013             Céréales          40504000

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">2.4 - Analyse exploratoire du fichier sous nutrition</h3>
</div>

In [167]:
#Afficher les dimensions du dataset
print("Le tableau comporte {} observation(s) ou article(s)".format(sous_nutrition.shape[0])) 
print("Le tableau comporte {} colonne(s)".format(sous_nutrition.shape[1]))

Le tableau comporte 1218 observation(s) ou article(s)
Le tableau comporte 3 colonne(s)

In [168]:
#Consulter le nombre de colonnes
sous_nutrition.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB

In [169]:
#Afficher les 5 premières lignes de la table
sous_nutrition.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [170]:
#Conversion de la colonne sous nutrition en numérique
sous_nutrition.loc[sous_nutrition['Valeur'] == "<0.1", "Valeur"] = 0.05
sous_nutrition['Valeur'] = pd.to_numeric(sous_nutrition['Valeur'])

In [171]:
#Conversion de la colonne (avec l'argument errors=coerce qui permet de convertir automatiquement les lignes qui ne sont pas des nombres en NaN)
#Puis remplacement des NaN en 0
#sous_nutrition['Valeur'] = pd.to_numeric(sous_nutrition['Valeur'], errors='coerce')

#A la place, j'ai remplacé les "<0.1" par des "0.05" afin de garder quand même une valeur pour ces pays

sous_nutrition.fillna(0, inplace=True)

In [172]:
#changement du nom de la colonne Valeur par sous_nutrition
sous_nutrition.rename(columns={"Valeur" : "sous_nutrition"}, inplace=True)

In [173]:
#Multiplication de la colonne sous_nutrition par 1000000
sous_nutrition['sous_nutrition'] *= 1000000

In [174]:
#Afficher les 5 premières lignes de la table
sous_nutrition.head()

          Zone      Année  sous_nutrition
0  Afghanistan  2012-2014       8600000.0
1  Afghanistan  2013-2015       8800000.0
2  Afghanistan  2014-2016       8900000.0
3  Afghanistan  2015-2017       9700000.0
4  Afghanistan  2016-2018      10500000.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.1 - Proportion de personnes en sous nutrition</h3>
</div>

In [175]:
#Modification de la colonne Année de sous_nutrition pour ne garder qu'une valeur
sous_nutrition["Year"] = sous_nutrition["Année"].apply(lambda x: int(x.split("-")[0]) + 1)
sous_nutrition.drop("Année", axis=1, inplace=True)
sous_nutrition.rename(columns={"Year": "Année"}, inplace=True)

# Il faut tout d'abord faire une jointure entre la table population et la table sous nutrition, en ciblant l'année 2017
personnes_sous_nutrition_2017 = pd.merge(population.loc[population['Année'] == 2017,["Zone", "Population"]],
                                sous_nutrition.loc[sous_nutrition['Année'] == 2017,["Zone", "sous_nutrition"]],
                                on='Zone')

In [176]:
#Affichage du dataset
personnes_sous_nutrition_2017.head()

             Zone  Population  sous_nutrition
0     Afghanistan  36296113.0      10500000.0
1  Afrique du Sud  57009756.0       3100000.0
2         Albanie   2884169.0        100000.0
3         Algérie  41389189.0       1300000.0
4       Allemagne  82658409.0             0.0

In [177]:
#Calcul et affichage du nombre de personnes en état de sous nutrition
calcul_nombre_personnes_sous_nutrition = personnes_sous_nutrition_2017['sous_nutrition'].sum()
print("Nombre de personnes en état de sous nutrition en 2017 :", calcul_nombre_personnes_sous_nutrition)
calcul_proportion_personnes_sous_nutrition = personnes_sous_nutrition_2017['sous_nutrition'].sum()*100/personnes_sous_nutrition_2017['Population'].sum()
print("Proportion de personnes en état de sous nutrition en 2017 :", "{:.2f}".format(calcul_proportion_personnes_sous_nutrition), "%")

Nombre de personnes en état de sous nutrition en 2017 : 536700000.0
Proportion de personnes en état de sous nutrition en 2017 : 7.11 %

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.2 - Nombre théorique de personne qui pourrait être nourries</h3>
</div>

In [178]:
#Combien mange en moyenne un être humain ?
print("Besoins journaliers pour un homme : 2600 kcal/j")
print("Besoins journaliers pour une femme : 2100 kcal/j", end="\n\n")

moyenne_kcal = (2600 + 2100)/2

print("Besoins journaliers moyens pour un être humain : ", moyenne_kcal, " kcal/j")

#Source 1 : https://www.anses.fr/fr/system/files/NUT2012SA0103Ra-2.pdf (page 14)
#Source 2 : https://www.cerin.org/articles/references-nutritionnelles-pour-les-adultes/

Besoins journaliers pour un homme : 2600 kcal/j
Besoins journaliers pour une femme : 2100 kcal/j

Besoins journaliers moyens pour un être humain :  2350.0  kcal/j

In [179]:
#On commence par faire une jointure entre le data frame population et Dispo_alimentaire afin d'ajouter dans ce dernier la population
dispo_alimentaire = dispo_alimentaire.merge(population.loc[population['Année'] == 2017,["Zone", "Population"]],
                                            on='Zone')

In [180]:
#Affichage du nouveau dataframe
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Population
0,Afghanistan,Abats Comestible,animale,0.0,0.0,5.0,1.72,0.20,0.77,53000.0,0.0,0.0,53000.0,0.0,53000.0,0.0,0.0,0.0,36296113.0
1,Afghanistan,"Agrumes, Autres",vegetale,0.0,0.0,1.0,1.29,0.01,0.02,41000.0,2000.0,40000.0,39000.0,2000.0,3000.0,0.0,0.0,0.0,36296113.0
2,Afghanistan,Aliments pour enfants,vegetale,0.0,0.0,1.0,0.06,0.01,0.03,2000.0,0.0,2000.0,2000.0,0.0,0.0,0.0,0.0,0.0,36296113.0
3,Afghanistan,Ananas,vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36296113.0
4,Afghanistan,Bananes,vegetale,0.0,0.0,4.0,2.70,0.02,0.05,82000.0,0.0,82000.0,82000.0,0.0,0.0,0.0,0.0,0.0,36296113.0

In [181]:
#Création de la colonne dispo_kcal avec calcul des kcal disponibles mondialement
dispo_alimentaire['dispo_kcal'] = dispo_alimentaire['Disponibilité alimentaire (Kcal/personne/jour)'] * dispo_alimentaire['Population'] * 365

print("kcal disponibles mondialement :", dispo_alimentaire['dispo_kcal'].sum(), "kcal", end="\n\n")

#print(population.loc[population['Année'] == 2017,"Population"].sum())

kcal disponibles mondialement : 7635429388975815.0 kcal

In [182]:
#Calcul du nombre d'humains pouvant être nourris
total_humains_kcal = round(dispo_alimentaire['dispo_kcal'].sum()/(moyenne_kcal*365))
print("Nombre humains pouvant être nourris en 2017 :", total_humains_kcal)

prop_humains_kcal = total_humains_kcal*100/population.loc[population['Année'] == 2017,"Population"].sum()
print("Proportion d'humains pouvant être nourris en 2017 :", "{:.2f}".format(prop_humains_kcal), "%")

Nombre humains pouvant être nourris en 2017 : 8901695586
Proportion d'humains pouvant être nourris en 2017 : 117.93 %

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.3 - Nombre théorique de personne qui pourrait être nourrie avec les produits végétaux</h3>
</div>

In [183]:
#Transfert des données avec les végétaux dans un nouveau dataframe
vegetaux = dispo_alimentaire.loc[dispo_alimentaire['Origine'] == "vegetale",:]

In [184]:
#Calcul du nombre de kcal disponible pour les végétaux
kcal_vegetaux = vegetaux['dispo_kcal'].sum()
print("Nombre de kcal disponible pour les végétaux :", kcal_vegetaux)

Nombre de kcal disponible pour les végétaux : 6300178937197865.0

In [185]:
#Calcul du nombre d'humains pouvant être nourris avec les végétaux
total_vegetaux_kcal = round(vegetaux['dispo_kcal'].sum()/(moyenne_kcal*365))
print("Nombre d'humains pouvant être nourris en 2017 :", total_vegetaux_kcal)

prop_vegetaux_kcal = total_vegetaux_kcal*100/population.loc[population['Année'] == 2017,"Population"].sum()
print("Proportion d'humains pouvant être nourris avec les végétaux en 2017 :", "{:.2f}".format(prop_vegetaux_kcal), "%")

Nombre d'humains pouvant être nourris en 2017 : 7345006047
Proportion d'humains pouvant être nourris avec les végétaux en 2017 : 97.31 %

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.4 - Utilisation de la disponibilité intérieure</h3>
</div>

In [186]:
#Calcul de la disponibilité totale
dispo_interieure = dispo_alimentaire["Disponibilité intérieure"].sum()
print("La disponibilité totale est de ", dispo_interieure)

La disponibilité totale est de  9733927000.0

In [187]:
#création d'une boucle for pour afficher les différentes valeurs en fonction des colonnes aliments pour animaux, pertes, nourritures, 
colonnes_boucle_for = ["Aliments pour animaux", "Autres Utilisations", "Nourriture", "Pertes", "Semences", "Traitement"]

for elt in colonnes_boucle_for:
  prop_elt_totale = dispo_alimentaire[elt].sum()
  prop_elt_pourcentage = dispo_alimentaire[elt].sum()*100/dispo_interieure
  
  print("Total de", elt, ":", prop_elt_totale)
  print("Proportion de", elt, ":", "{:.2f}".format(prop_elt_pourcentage), "%", end="\n\n")

Total de Aliments pour animaux : 1288002000.0
Proportion de Aliments pour animaux : 13.23 %

Total de Autres Utilisations : 858771000.0
Proportion de Autres Utilisations : 8.82 %

Total de Nourriture : 4805525000.0
Proportion de Nourriture : 49.37 %

Total de Pertes : 452283000.0
Proportion de Pertes : 4.65 %

Total de Semences : 153317000.0
Proportion de Semences : 1.58 %

Total de Traitement : 2185641000.0
Proportion de Traitement : 22.45 %

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.5 - Utilisation des céréales</h3>
</div>

In [188]:
#Création d'une liste avec toutes les variables
# "Avoine", "Blé et produits", "Céréales, Autres", "Maïs et produits", "Millet et produits", "Orge et produits", "Riz (Eq Blanchi)", "Seigle et produits", "Sorgho et produits"
liste_cereales = ["Avoine", "Blé", "Céréales, Autres", "Maïs", "Millet", "Orge", "Riz (Eq Blanchi)", "Seigle", "Sorgho"]

In [189]:
#Création d'un dataframe avec les informations uniquement pour ces céréales
cereales = dispo_alimentaire.loc[dispo_alimentaire['Produit'].isin(liste_cereales), :]
cereales.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Population,dispo_kcal
7,Afghanistan,Blé,vegetale,0.0,0.0,1369.0,160.23,4.69,36.91,5992000.0,0.0,1173000.0,4895000.0,775000.0,5169000.0,322000.0,0.0,-350000.0,36296113.0,1.813662e+13
12,Afghanistan,"Céréales, Autres",vegetale,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,36296113.0,0.000000e+00
32,Afghanistan,Maïs,vegetale,200000.0,0.0,21.0,2.50,0.30,0.56,313000.0,0.0,1000.0,76000.0,31000.0,312000.0,5000.0,0.0,0.0,36296113.0,2.782097e+11
34,Afghanistan,Millet,vegetale,0.0,0.0,3.0,0.40,0.02,0.08,13000.0,0.0,0.0,12000.0,1000.0,13000.0,0.0,0.0,0.0,36296113.0,3.974424e+10
40,Afghanistan,Orge,vegetale,360000.0,0.0,26.0,2.92,0.24,0.79,524000.0,0.0,10000.0,89000.0,52000.0,514000.0,22000.0,0.0,0.0,36296113.0,3.444501e+11

In [190]:
#Affichage de la proportion d'alimentation humaine
proportion_cereales_humains = cereales['Nourriture'].sum()/cereales['Disponibilité intérieure'].sum()*100

print("La proportion de céréales pour l'alimentaire humaine est de :", "{:.2f}".format(proportion_cereales_humains), "%")

La proportion de céréales pour l'alimentaire humaine est de : 42.91 %

In [191]:
#Affichage de la proportion d'alimentation animale
proportion_cereales_animaux = cereales['Aliments pour animaux'].sum()/cereales['Disponibilité intérieure'].sum()*100

print("La proportion de céréales pour l'alimentaire animale est de :", "{:.2f}".format(proportion_cereales_animaux), "%")

La proportion de céréales pour l'alimentaire animale est de : 36.14 %

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.6 - Pays avec la proportion de personnes sous-alimentée la plus forte en 2017</h3>
</div>

In [192]:
#Création de la colonne proportion par pays
personnes_sous_nutrition_2017['Proportion par pays'] = personnes_sous_nutrition_2017['sous_nutrition']/personnes_sous_nutrition_2017['Population']*100

In [193]:
#affichage après tri des 10 pires pays
personnes_sous_nutrition_2017_tri = personnes_sous_nutrition_2017.sort_values('Proportion par pays', ascending=False)
personnes_sous_nutrition_2017_tri.head(10)

,Zone,Population,sous_nutrition,Proportion par pays
51,Dominique,71458.0,50000.0,69.971172
78,Haïti,10982366.0,5300000.0,48.259182
157,République populaire démocratique de Corée,25429825.0,12000000.0,47.188685
164,Saint-Vincent-et-les Grenadines,109827.0,50000.0,45.526146
98,Kiribati,114158.0,50000.0,43.798945
108,Madagascar,25570512.0,10500000.0,41.062924
103,Libéria,4702226.0,1800000.0,38.279742
100,Lesotho,2091534.0,800000.0,38.249438
183,Tchad,15016753.0,5700000.0,37.957606
161,Rwanda,11980961.0,4200000.0,35.055619

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.7 - Pays qui ont le plus bénéficié d'aide alimentaire depuis 2013</h3>
</div>

In [194]:
#calcul du total de l'aide alimentaire par pays
aide_alimentaire_par_pays = aide_alimentaire[['Zone', 'Aide_alimentaire']].groupby("Zone").sum().reset_index()

In [195]:
#affichage après tri des 10 pays qui ont bénéficié le plus de l'aide alimentaire
aide_alimentaire_par_pays.sort_values('Aide_alimentaire', ascending=False, inplace=True)
aide_alimentaire_par_pays.head(10)

                                Zone  Aide_alimentaire
50         République arabe syrienne        1858943000
75                          Éthiopie        1381294000
70                             Yémen        1206484000
61                     Soudan du Sud         695248000
60                            Soudan         669784000
30                             Kenya         552836000
3                         Bangladesh         348188000
59                           Somalie         292678000
53  République démocratique du Congo         288502000
43                             Niger         276344000

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.8 - Evolution des 5 pays qui ont le plus bénéficiés de l'aide alimentaire entre 2013 et 2016</h3>
</div>

In [196]:
#Création d'un dataframe avec la zone, l'année et l'aide alimentaire puis groupby sur zone et année 
cinq_pays_aide_alimentaire = aide_alimentaire[['Zone', 'Année', 'Aide_alimentaire']]
cinq_pays_aide_alimentaire = cinq_pays_aide_alimentaire.groupby(['Zone', 'Année']).sum().reset_index()

In [197]:
#Création d'une liste contenant les 5 pays qui ont le plus bénéficiées de l'aide alimentaire
liste_cinq_pays_aide_alimentaire = aide_alimentaire_par_pays['Zone'].head(5).tolist()
display(liste_cinq_pays_aide_alimentaire)

['République arabe syrienne', 'Éthiopie', 'Yémen', 'Soudan du Sud', 'Soudan']

In [198]:
#On filtre sur le dataframe avec notre liste
cinq_pays_aide_alimentaire = cinq_pays_aide_alimentaire.loc[cinq_pays_aide_alimentaire['Zone'].isin(liste_cinq_pays_aide_alimentaire), :]

In [199]:
# Affichage des pays avec l'aide alimentaire par année
display(cinq_pays_aide_alimentaire)

                          Zone  Année  Aide_alimentaire
157  République arabe syrienne   2013         563566000
158  République arabe syrienne   2014         651870000
159  République arabe syrienne   2015         524949000
160  République arabe syrienne   2016         118558000
189                     Soudan   2013         330230000
190                     Soudan   2014         321904000
191                     Soudan   2015          17650000
192              Soudan du Sud   2013         196330000
193              Soudan du Sud   2014         450610000
194              Soudan du Sud   2015          48308000
214                      Yémen   2013         264764000
215                      Yémen   2014         103840000
216                      Yémen   2015         372306000
217                      Yémen   2016         465574000
225                   Éthiopie   2013         591404000
226                   Éthiopie   2014         586624000
227                   Éthiopie   2015         203266000

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.9 - Pays avec le moins de disponibilité par habitant</h3>
</div>

In [200]:
#Calcul de la disponibilité en kcal par personne par jour par pays
dispo_kcal_jour_pays = dispo_alimentaire[['Zone','Produit','Disponibilité alimentaire (Kcal/personne/jour)']].groupby('Zone').sum()

<ipython-input-200-755fe362c4e9>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  dispo_kcal_jour_pays = dispo_alimentaire[['Zone','Produit','Disponibilité alimentaire (Kcal/personne/jour)']].groupby('Zone').sum()

In [201]:
#Affichage des 10 pays qui ont le moins de dispo alimentaire par personne 
dispo_kcal_jour_pays.sort_values(by="Disponibilité alimentaire (Kcal/personne/jour)", ascending=True, inplace=True)
dispo_kcal_jour_pays.head(10)

                                            Disponibilité alimentaire (Kcal/personne/jour)
Zone
République centrafricaine                                                           1879.0
Zambie                                                                              1924.0
Madagascar                                                                          2056.0
Afghanistan                                                                         2087.0
Haïti                                                                               2089.0
République populaire démocratique de Corée                                          2093.0
Tchad                                                                               2109.0
Zimbabwe                                                                            2113.0
Ouganda                                                                             2126.0
Timor-Leste                                                                         2129.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.10 - Pays avec le plus de disponibilité par habitant</h3>
</div>

In [202]:
#Affichage des 10 pays qui ont le plus de dispo alimentaire par personne 
dispo_kcal_jour_pays.sort_values(by="Disponibilité alimentaire (Kcal/personne/jour)", ascending=False, inplace=True)
dispo_kcal_jour_pays.head(10)

                       Disponibilité alimentaire (Kcal/personne/jour)
Zone
Autriche                                                       3770.0
Belgique                                                       3737.0
Turquie                                                        3708.0
États-Unis d'Amérique                                          3682.0
Israël                                                         3610.0
Irlande                                                        3602.0
Italie                                                         3578.0
Luxembourg                                                     3540.0
Égypte                                                         3518.0
Allemagne                                                      3503.0

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">3.11 - Exemple de la Thaïlande pour le Manioc</h3>
</div>

In [203]:
#création d'un dataframe avec uniquement la Thaïlande 
thailande_df = personnes_sous_nutrition_2017.loc[personnes_sous_nutrition_2017['Zone'] == 'Thaïlande',:]

display(thailande_df)

          Zone  Population  sous_nutrition  Proportion par pays
185  Thaïlande  69209810.0       6200000.0             8.958268

In [204]:
#Calcul de la sous nutrition en Thaïlande
print('Proportion de la sous nutrition en Thaïlande :', "{:.2f}".format(thailande_df['sous_nutrition'].iloc[0]*100/thailande_df['Population'].iloc[0]), "%")

Proportion de la sous nutrition en Thaïlande : 8.96 %

In [205]:
proportion_manioc_exporte = dispo_alimentaire.loc[(dispo_alimentaire['Produit'] == "Manioc") & (dispo_alimentaire['Zone'] == "Thaïlande"),:]

# On affiche la quantité de manioc exporté de Thaïlande
quantite_manioc_exporte_thailande = proportion_manioc_exporte['Exportations - Quantité'].iloc[0]
print('Quantité de manioc exporté en Thaïlande : ', "{:.3f}".format(quantite_manioc_exporte_thailande/1000000), "millions de kilos", end="\n\n")

# On calcule la proportion exportée en fonction de la production
pourcentage_manioc_exporte = proportion_manioc_exporte['Exportations - Quantité'].iloc[0]*100 / proportion_manioc_exporte['Production'].iloc[0]
print('Proportion exportée de manioc en Thaïlande :', "{:.2f}".format(pourcentage_manioc_exporte), "%")

Quantité de manioc exporté en Thaïlande :  25.214 millions de kilos

Proportion exportée de manioc en Thaïlande : 83.41 %

In [206]:
# On calcule la quantité de manioc exporté dans le monde
quantite_manioc_exporte_monde = dispo_alimentaire['Exportations - Quantité'][dispo_alimentaire['Produit'] == 'Manioc'].sum()

#dispo_alimentaire.loc[(dispo_alimentaire['Produit'] == "Manioc")].sum()
print('Quantité de manioc exporté dans le monde : ', "{:.3f}".format(quantite_manioc_exporte_monde / 1000000), "millions de kilos", end="\n\n")

Quantité de manioc exporté dans le monde :  36.047 millions de kilos

In [207]:
# On calcule la proportion exportée de Thaïlande par rapport à l'exportation mondiale
pourcentage_manioc_thailande_monde = quantite_manioc_exporte_thailande * 100 / quantite_manioc_exporte_monde

print("{:.2f}".format(pourcentage_manioc_thailande_monde), "% du manioc exportés dans le monde provient de Thaïlande")

69.95 % du manioc exportés dans le monde provient de Thaïlande

In [208]:
# Pourcentage de personnes en sous-nutrition en Thaïlande qui auraient pu être nourries avec le manioc exporté
kcal_moyen_manioc = 1590
print("Le nombre de calories moyen pour un kilo de manioc : ", kcal_moyen_manioc, " kcal", end="\n\n")

# On calcule le nombre de kilos de manioc nécessaire pour un an pour une personne
kilos_manioc_an_personne = moyenne_kcal/kcal_moyen_manioc * 365
print("Quantité de manioc nécessaire pour une personne par an : ", "{:.2f}".format(kilos_manioc_an_personne), "kilos", end="\n\n")

# On calcule le nombre de personnes qui peuvent être nourries avec le manioc exporté
personnes_nourries_manioc_exportes = quantite_manioc_exporte_thailande / kilos_manioc_an_personne
print("Nombre de personnes pouvant être nourries avec le manioc exporté", personnes_nourries_manioc_exportes, end="\n\n")

# On calcule le pourcentage de personnes en sous-nutrition en Thaïlande qui auraient pu être nourries avec le manioc exporté
pourcentage_sous_nutrition_manioc = personnes_nourries_manioc_exportes / thailande_df['sous_nutrition'].iloc[0] * 100
print("Pourcentage de personnes en sous-nutrition en Thaïlande qui auraient pu être nourries avec le manioc exporté :", "{:.2f}".format(pourcentage_sous_nutrition_manioc), "%", end="\n\n")

Le nombre de calories moyen pour un kilo de manioc :  1590  kcal

Quantité de manioc nécessaire pour une personne par an :  539.47 kilos

Nombre de personnes pouvant être nourries avec le manioc exporté 46738.86330515885

Pourcentage de personnes en sous-nutrition en Thaïlande qui auraient pu être nourries avec le manioc exporté : 0.75 %

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 4 - Analyses complémentaires</h2>
</div>

In [209]:
#Rajouter en dessous toutes les analyses complémentaires suite à la demande de mélanie :
#"et toutes les infos que tu trouverais utiles pour mettre en relief les pays qui semblent être 
#le plus en difficulté au niveau alimentaire"

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">4.1 - Pays avec le nombre de personnes sous-alimentée le plus fort en 2017</h3>
</div>

In [210]:
#Tri du tableau de sous_nutrition en fonction du nombre et non plus de la proportion
personnes_sous_nutrition_2017.sort_values('sous_nutrition', ascending=False).head(10)

,Zone,Population,sous_nutrition,Proportion par pays
84,Inde,1.338677e+09,190100000.0,14.200590
136,Pakistan,2.079062e+08,24800000.0,11.928456
85,Indonésie,2.646510e+08,23600000.0,8.917406
128,Nigéria,1.908732e+08,22800000.0,11.945100
16,Bangladesh,1.596854e+08,21500000.0,13.463972
61,Éthiopie,1.063999e+08,21100000.0,19.830841
144,Philippines,1.051729e+08,15700000.0,14.927796
158,République-Unie de Tanzanie,5.466034e+07,13400000.0,24.515033
157,République populaire démocratique de Corée,2.542982e+07,12000000.0,47.188685
96,Kenya,5.022114e+07,11900000.0,23.695200

<div style="border: 1px solid RGB(0,150,250);" >
<h3 style="margin: auto; padding: 20px; color: RGB(0,150,250); ">4.2 - Etude sur l'élevage des animaux / Réduction de la part des céréales dans l'alimentation animale ?!</h3>
</div>

In [211]:
#calcul du total des céréales pour les aliments pour animaux par pays
dispo_cereales_animaux = cereales[['Zone', 'Aliments pour animaux']].groupby("Zone").sum().reset_index()
dispo_cereales_animaux.head()

             Zone  Aliments pour animaux
0     Afghanistan               560000.0
1  Afrique du Sud              4824000.0
2         Albanie               411000.0
3         Algérie              4337000.0
4       Allemagne             26615000.0

In [212]:
#Affichage après tri des 10 pays qui ont la plus grosse utilisation des aliments pour le bétail
dispo_cereales_animaux = dispo_cereales_animaux.sort_values('Aliments pour animaux', ascending=False).reset_index()
dispo_cereales_animaux.head(10)

   index                   Zone  Aliments pour animaux
0     36    Chine, continentale            193042000.0
1    169  États-Unis d'Amérique            140096000.0
2     23                 Brésil             43264000.0
3     54   Fédération de Russie             30806000.0
4      4              Allemagne             26615000.0
5     48                Espagne             24926000.0
6     31                 Canada             23905000.0
7    100                Mexique             20516000.0
8    158                Ukraine             19890000.0
9     53                 France             19103000.0

In [213]:
# Création d'une liste avec les 2 pays qui ont la plus grosse utilisation des aliments pour le bétail
liste_deux_pays_aliments_animaux = dispo_cereales_animaux['Zone'].head(2).tolist()

# Création d'un tableau avec les données du premier pays
cereales_premier_pays = cereales.loc[cereales['Zone'] == liste_deux_pays_aliments_animaux[0], :]
cereales_premier_pays = cereales_premier_pays.sort_values('Aliments pour animaux', ascending=False).reset_index()

produit_cereales_premier_pays = cereales_premier_pays['Produit'].iloc[0]
quantite_cereales_premier_pays = cereales_premier_pays['Aliments pour animaux'].iloc[0]

print("Le premier pays qui a la plus grosse utilisation des aliments pour le bétail est :", liste_deux_pays_aliments_animaux[0], "avec", quantite_cereales_premier_pays, "kilos de", produit_cereales_premier_pays, "utilisés", end="\n\n")

# Création d'un tableau avec les donénes du deuxième pays
cereales_second_pays = cereales.loc[cereales['Zone'] == liste_deux_pays_aliments_animaux[1], :]
cereales_second_pays = cereales_second_pays.sort_values('Aliments pour animaux', ascending=False).reset_index()

produit_cereales_second_pays = cereales_premier_pays['Produit'].iloc[1]
quantite_cereales_second_pays = cereales_premier_pays['Aliments pour animaux'].iloc[1]

print("Le deuxième pays qui a la plus grosse utilisation des aliments pour le bétail est :", liste_deux_pays_aliments_animaux[1], "avec", quantite_cereales_second_pays, "kilos de", produit_cereales_second_pays, "utilisés", end="\n\n")

Le premier pays qui a la plus grosse utilisation des aliments pour le bétail est : Chine, continentale avec 150000000.0 kilos de Maïs utilisés

Le deuxième pays qui a la plus grosse utilisation des aliments pour le bétail est : États-Unis d'Amérique avec 26628000.0 kilos de Blé utilisés

In [214]:
# Nombre de kcal pour le maïs
# Source : https://www.passeportsante.net/fr/Nutrition/EncyclopedieAliments/Fiche.aspx?doc=mais
kcal_mais_entier = 3460
kcal_mais_doux = 1060

# On calcule le nombre de kilos de mais nécessaire pour un an pour une personne
kilos_mais_entier_an_personne = moyenne_kcal/kcal_mais_entier * 365
print("Quantité de maïs entier nécessaire pour une personne par an : ", "{:.2f}".format(kilos_mais_entier_an_personne), "kilos", end="\n\n")
kilos_mais_doux_an_personne = moyenne_kcal/kcal_mais_doux * 365
print("Quantité de maïs doux nécessaire pour une personne par an : ", "{:.2f}".format(kilos_mais_doux_an_personne), "kilos", end="\n\n")

Quantité de maïs entier nécessaire pour une personne par an :  247.90 kilos

Quantité de maïs doux nécessaire pour une personne par an :  809.20 kilos

In [215]:
# On calcule le nombre de personnes qui peuvent être nourries avec 10% du maïs servant pour le bétail
personnes_nourries_mais_entier_exportes = (quantite_cereales_premier_pays*10/100) / kilos_mais_entier_an_personne
print("Nombre de personnes pouvant être nourries avec 10% du maïs entier servant pour le bétail :", int(personnes_nourries_mais_entier_exportes), end="\n\n")
personnes_nourries_mais_doux_exportes = (quantite_cereales_premier_pays*10/100) / kilos_mais_doux_an_personne
print("Nombre de personnes pouvant être nourries avec 10% du maïs doux servant pour le bétail :", int(personnes_nourries_mais_doux_exportes), end="\n\n")

Nombre de personnes pouvant être nourries avec 10% du maïs entier servant pour le bétail : 60507

Nombre de personnes pouvant être nourries avec 10% du maïs doux servant pour le bétail : 18536

In [216]:
# On calcule le nombre de personnes qui peuvent être nourries avec 50% du maïs servant pour le bétail
personnes_nourries_mais_entier_exportes = (quantite_cereales_premier_pays*50/100) / kilos_mais_entier_an_personne
print("Nombre de personnes pouvant être nourries avec 50% du maïs entier servant pour le bétail :", int(personnes_nourries_mais_entier_exportes), end="\n\n")
personnes_nourries_mais_doux_exportes = (quantite_cereales_premier_pays*50/100) / kilos_mais_doux_an_personne
print("Nombre de personnes pouvant être nourries avec 50% du maïs doux servant pour le bétail :", int(personnes_nourries_mais_doux_exportes), end="\n\n")

Nombre de personnes pouvant être nourries avec 50% du maïs entier servant pour le bétail : 302535

Nombre de personnes pouvant être nourries avec 50% du maïs doux servant pour le bétail : 92684

In [217]:
# Nombre de kcal pour le blé 
# Source : https://www.passeportsante.net/fr/Nutrition/EncyclopedieAliments/Fiche.aspx?doc=ble_nu
kcal_ble = 1490

# On calcule le nombre de kilos de blé nécessaire pour un an pour une personne
kilos_ble_an_personne = moyenne_kcal/kcal_ble * 365
print("Quantité de blé nécessaire pour une personne par an : ", "{:.2f}".format(kilos_ble_an_personne), "kilos", end="\n\n")

# On calcule le nombre de personnes qui peuvent être nourries avec 10% du maïs servant pour le bétail
personnes_nourries_ble_exportes = (quantite_cereales_second_pays*10/100) / kilos_ble_an_personne
print("Nombre de personnes pouvant être nourries avec 10% du blé servant pour le bétail :", int(personnes_nourries_ble_exportes), end="\n\n")

# On calcule le nombre de personnes qui peuvent être nourries avec 50% du maïs servant pour le bétail
personnes_nourries_ble_exportes = (quantite_cereales_second_pays*50/100) / kilos_ble_an_personne
print("Nombre de personnes pouvant être nourries avec 50% du blé servant pour le bétail :", int(personnes_nourries_ble_exportes), end="\n\n")

Quantité de blé nécessaire pour une personne par an :  575.67 kilos

Nombre de personnes pouvant être nourries avec 10% du blé servant pour le bétail : 4625

Nombre de personnes pouvant être nourries avec 50% du blé servant pour le bétail : 23127